@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(165, 35, 35, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;

}

header nav .titulo {
    font-size: 30px;
    font-weight: bold;
}

header nav .links {
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 15px;
}


article {
    margin-top: 35px;
}

.botao {
    margin-left: 25px;
}


article .botao .addTarefa {
    background-color: #037bfc;
    border-radius: 50%; /* Utilizando 50% para criar uma borda circular */
    width: 40px;
    height: 40px; /* Ajustei a altura para manter uma proporção mais adequada */
    border: none;
    justify-content: center;
    align-items: center;
}


article .botao .addTarefa img {
    height: 15px;
}

.botao span {
    font-family: 'Open Sans', sans-serif;
    color: #037bfc;
    font-size: 18px;
    margin-left:5px;
}