@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap');

header {
    display: flex;
    width: auto;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-between;
    background-color: #fff;
}

header nav li {
    margin-right: 20px;
    list-style: none;
}

header nav .titulo {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

header nav .links {
    font-size: 18px;
    margin-top: 25px;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
}

article {
    width: auto;
    margin-top: 40px;
    margin-left: 40px;
}

article .botao .abrirForm {
    background-color: #92eb34;
    border: none;
    border-radius: 24px;
    width: 35px;
    height: 35px;
}

article .botao img {
    height: 18px;
}

article .botao span {
    font-size: 18px;
    margin-left: 5px;
}

article .formulario {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 30px;
    height: 540px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

article .formulario .modalCabecalho {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

article .formulario .modalCabecalho h1 {
    font-size: 28px;
    padding-top: 35px;
    padding-bottom: 25px;
}

article .formulario .modalCabecalho .fechar {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #92eb34;
    font-size: 24px;
}

article .formulario .margem {
    margin-top: 10px;
}

article .formulario .botoesCores button {
    height: 15px;
    width: 18px;
    border: 1px solid #4c4a4d;
    border-radius: 2px;
    margin-left: 5px;
}

/* Botões de seleção das cores */
.rosa {
    background-color: #ff7aa9;
}

.azul {
    background-color: #4cb9fc;
}

.laranja {
    background-color: #ff742e;
}

.amarelo {
    background-color: #ffe121;
}

.roxo {
    background-color: #be33ff;
}

article .formulario .divBotaoEnviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

article .formulario .botaoEnviar {
    background-color: #92eb34;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: white;
}

article .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

article .containerCards {
    /* As 3 linhas de codigo seguintes fazem com que a medida com que os elementos vão sendo adicionados eles vão para a linha de baixo */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 50px;
    padding: 15px;
}

article .containerCards .card1 {
    color: black;
    margin-top: 25px;
    margin-right: 25px;
    width: 250px;
    height: auto;
    min-height: 225px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

article .containerCards .card1 .cabecalho {
    width: 100%;
    background-color: #fa2525;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

article .containerCards .card1 .cabecalho button {
    border: none;
    background-color: transparent;
    color: white;
}

article .containerCards .card1 .corpo {
    box-sizing: border-box;
    height: auto;
}

article .containerCards .card1 .corpo .tituloCard h1 {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

article .containerCards .card1 .corpo .paragrafo {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.8;
    padding-left: 10px;
    padding-right: 20px;
}

article .containerCards .card1 .rodape {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    margin-right: 20px;
}

article .containerCards .card1 .rodape img {
    height: 20px;
    margin-bottom: 0px;
}